.windowTitle{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: '宋体';
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 25px;
    background-image: linear-gradient(to right, rgb(25, 145, 200), rgb(30, 254, 149));
    display: inline-block;
    margin-bottom: 6px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
table{
    margin: 10px auto;
    width: 92%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border-collapse: collapse;
}
th{
    font-weight: 400;
    padding: 10px 0;
    background-color: rgb(27, 24, 24);
    transition: .3s;
}
th:hover{
    background-color: rgb(0, 0, 0);
}
table img{
    height: 60px;
    margin: 6px 0 0;
}
td, th{
    border: 1px solid rgb(59, 59, 65);
}
td{
    color: rgb(240, 240, 240);;
    font-size: 15px;
    padding: 0px 3px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.EchoiseBox,.BchoiseBox,.BchoiseBoxElement,.BchoiseBoxLevel{
    position: relative;
    display: flex;
    margin: 12px 50px;
    user-select: none;
}
.EchoiseBox div,.BchoiseBox div,.BchoiseBoxElement div,.BchoiseBoxLevel div{
    width: 50px;
    height: 30px;
    margin: 0 10px;
    background-color: rgb(55, 194, 192, 0);
    border-radius: 10px 0;
    cursor: pointer;
    transition: .3s;
    border: rgb(50, 180, 165) 1px solid;
    box-sizing: border-box;
    line-height: 26px;
    text-align: center;
    color: rgb(50, 180, 165);
    font-size: 14px;
    font-weight: 600;
}
.BchoiseBoxLevelWM div{
    margin-bottom: 12px;
}
.BchoiseBoxLevel div{
    width: auto;
    padding: 0 14px;
}
.BchoiseBox div{
    width: 65px;
}
.BchoiseBox{
    margin-bottom: 10px;
}
.BchoiseBoxElement,.BchoiseBoxLevel{
    border-top: solid 1px #181b1b;
    padding-top: 10px;
    margin-top: 10px;
}
.BchoiseBoxElement div:nth-child(1),.BchoiseBoxLevel div:nth-child(1){
    width: 65px;
}
.B_E_searchNum{
    color: rgb(185, 191, 197);
    font-size: 13px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.Topword{
    color: rgb(185, 191, 197);
    font-size: 13px;
    margin: 10px 65px;
    line-height: 24px;
}
.goToId{
    position: fixed;
    bottom: 180px;
    right: 150px;
    width: 44px;
    text-align: center;
    display: flex;
    z-index: 9;
    flex-direction: column;
    border: #73d0a9 solid 1px;
    backdrop-filter: blur(5px);
    transition: .3s;
    box-sizing: border-box;
}
.goToId div{
    color: #73d0a9;
    font-size: 13px;
    line-height: 25px;
    margin: 10px 0;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    box-sizing: border-box;
    border-left: #73d0a9 0px solid;
}
.goToId div:hover{
    opacity: 1;
    border-left: #73d0a9 5px solid;
}
tr img{
    cursor: pointer;
}
.manyImgBar{
    display: flex;
    overflow: auto;
    max-width: 500px;
    padding: 10px;
}
.manyImgBar img{
    margin: 0 5px;
}
.manyImgBar::-webkit-scrollbar{
    height: 6px;
}
.manyImgBar::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: rgba(212, 212, 212, 0.7);
}
.manyImgBar::-webkit-scrollbar-thumb:hover{
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
}
.manyImgBar::-webkit-scrollbar-track{
    border-radius: 12px;
    background: rgba(54, 55, 56, 0.5);
}
.M_mbTile{
    background-image: linear-gradient(to right, #27c6a9, rgb(25, 145, 200, 0));
    /* display: inline-block; */
    height: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 16px;
    box-sizing: border-box;
    color: #252429;
    width: 90%;
    margin: 0 50px;
    border-radius: 15px 0 0 15px;
}
td a{
    cursor: pointer;
    text-decoration: underline;
}
tr{
    height: 65px;
}